@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat", Arial,Sans-Serif,serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-text-primaria-p: gray;
  --font-size-24: 24px;
  --font-size-logo: 24px;
  --padding-button: 15px;
  --color-primary: #d13310;
}
.card.left{
  border-left:  2px solid #1767cc;
}
.card.rigth{
  border-right:  2px solid #1767cc;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: white;
  width: 100%;
}
.head_main {
  display: flex;
  background-color: #211c32;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 10vh;
  padding: 0 20px;
  border-bottom: 0.8px solid white;
}
.head_main nav> ul {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #100d28;
  width: 70%;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  z-index: 1000;
}
.head_main nav> ul.open {
  height: 100vh;
}
.head_main nav> ul> li {
  padding: 8px;
  margin: 4em 3em;
  list-style: none;
}
.head_main nav> ul> li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.head_main nav > ul > .btn-master {
  background-color: #1767cc;
  display:block;
  border-radius: 8px;
  width: 70%;
  padding: 8px;
  margin: 0 auto;
}
.head_main nav > ul > .btn-master a {
  font-weight: 800;
  color: #0e0e0e;
  font-size: 12px;
  text-align: center;
}
.head_main .logo {
  max-width: 10%;
}
.head_main .logo img {
  width: 100%;
}
.head_main nav> .menu .btn {
  background-color:#1767cc;
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}
.head_main nav> .menu .btn.befer {
  background-color: transparent;
  border: var(--color-primary)solid 1px;
  color: var(--color-primary);
}
.main_lower {
  background-color: grey;
  width: 100%;
  height: 100%;
  padding: 0;
}

.main_lower .hero-banner {
  display: block;
  width: 100%;
  background-color: #100d28;
  padding: 2em;
}
.main_lower .hero-banner .card1 {
  padding: 1.4em 0;
}
.main_lower .hero-banner .card-banner .card1 .text-name h2 {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
}
.main_lower .hero-banner .card-banner .card1 .text-name p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  color: snow;
  margin: 1.2em 0;
}
.main_lower .hero-banner .card-banner .card1 .text-name h2>span{
  font-size: 28px;
  color: #2984e3;
}
.main_lower .hero-banner .card-banner .card1 .text-name .btn-agendar button {
  color: white;
  outline: none;
  border: none;
  padding: 1.2em 1em;
  background-color: #2984e3;
  margin: 2em 0;
}
.main_lower .hero-banner .card-banner .card1 .text-name .btn-agendar button a {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: snow;
}
.main_lower .video-hellocome {
  width: 100%;
  max-width: 100%;
  display: flex;
  position: relative;
}
.main_lower .video-hellocome img{
  max-width: 100%;
  width: 100%
  height: auto;
  min-height: 200px;
  object-fit: cover;
}
.services-main {
  background-color: #100d28;
}
.services-main .h1-case {
  padding: 20px 0 0 20px;
}
.services-main .h1-case h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  color: #1767cc;
  text-align: left;
  width: 100%;
  padding: 8px;
}
.services-main .h1-case p {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 0;
  color: snow;
}
.services-main .lower-service {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px 1fr));
}
.services-main .lower-service .card-services .card {
  background-color: #211c32;
  margin: 20px 20px;
  padding: 20px 25px;
  box-shadow: 5px 5px 20px #0e0e0e12;
  border-start-start-radius:5px;
  position: relative;
}
.services-main .lower-service .card-services .card .verifc{
  position: absolute;
  right: -10px;
  top: -20px;
  width: 30px;
}
.services-main .lower-service .card-services .card img{
  width: 15%;
  margin: 10px 0;
}

.services-main .lower-service .card-services .card .text-card h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  color: white;
}
.services-main .lower-service .card-services .card .description p {
  text-align: left;
  font-size: 18px;
  margin: 20px 0;
  color: white;
}

.bener-case {
  background-color:#100d28;
}
.bener-case .card-main{
  display: grid;
  grid-template-columns: repeat(2,minmax(1fr,200px));
  align-items: center;
  justify-content: center;
}
.bener-case  .card {
  background-color: #211c32;
  margin: 20px 20px;
  padding: 20px 25px;
  box-shadow: 5px 5px 20px #0e0e0e12;
  border-start-start-radius:5px;
}
.bener-case .card .text-card h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color: #2984e3;
}
.bener-case .card .text-card p{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  color: white;
}
.bener-case .card .description p{
  margin: 10px 0;
  color: snow;
  font-size: 14px;
}
.bener-case .h1-case{
  padding: 40px;
}
.bener-case .h1-case h1{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  color: #1767cc;
  padding: 15px 0;
  
}
.bener-case .h1-case p{
  color: snow;
}
.quem-somos{
  background-color: hsl(278.4,0%,6.5%);
}
.quem-somos .h1-case{
  padding: 40px;
}
.quem-somos .h1-case h1{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  color: #1767cc;
  padding: 15px 0;
  
}
.quem-somos .h1-case p{
  color: snow;
}
.quem-somos  .about-video{
  width: 100%;
  max-width: 800px;
  display: flex;
  position: relative;
}
.quem-somos .about-video video{
  width: 100%;
  max-width: 800px;
  display: flex;
  position: relative;
}
.quem-somos button{
  background-color: rgb(152,29,221);
  display:block;
  margin: 15px 25px;
  border-radius: 8px;
  padding: 1em;
  border: none;
}
.quem-somos button a{
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
}
.rodape{
  background-color: hsl(278.4,0%,6.5%);
  padding: 20px 25px;
}
.rodape .copy small{
  color: snow;
  font-size: 18px;
}
.rodape .localizacao h2{
  padding: 10px 0;
  color: snow;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
}
.rodape .localizacao address{
  color: snow;
}
.rodape .contato h2{
  padding: 10px 0;
  color: snow;
  font-size: 14px;
  text-transform: uppercase;
}
.rodape .contato address{
  color: snow;
  font-size: 14px;
}